<footer class="clearfix">
    <div class="pull-right">
        Crafted with <i class="fa fa-heart text-danger"></i> by <a href="https://www.facebook.com/huynhcaobien96" target="_blank">Dev by Mai Truc Lam</a>
    </div>
    <div class="pull-left">
        <span id="year-copy1">@DateTime.Now.Year</span> &copy; <a href="https://ucbi-global.com" target="_blank">UCBI-v1.2</a>
    </div>
</footer>
