<ul class="nav navbar-nav-custom">
    <!-- Main Sidebar Toggle Button -->
    <li>
        <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();">
            <i class="fa fa-bars fa-fw"></i>
        </a>
    </li>
    <!-- END Main Sidebar Toggle Button -->
    <!-- Template Options -->
    <!-- Change Options functionality can be found in js/app.js - templateOptions() -->
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
            <i class="gi gi-settings"></i>
        </a>
        <ul class="dropdown-menu dropdown-custom dropdown-options">
            <li class="dropdown-header text-center">Header Style</li>
            <li>
                <div class="btn-group btn-group-justified btn-group-sm">
                    <a href="javascript:void(0)" class="btn btn-primary" id="options-header-default">Light</a>
                    <a href="javascript:void(0)" class="btn btn-primary" id="options-header-inverse">Dark</a>
                </div>
            </li>
            <li class="dropdown-header text-center">Page Style</li>
            <li>
                <div class="btn-group btn-group-justified btn-group-sm">
                    <a href="javascript:void(0)" class="btn btn-primary" id="options-main-style">Default</a>
                    <a href="javascript:void(0)" class="btn btn-primary" id="options-main-style-alt">Alternative</a>
                </div>
            </li>
        </ul>
    </li>
    <!-- END Template Options -->
</ul>
