
@{
    ViewBag.Title = "ControlRoomMeeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-header">
    <ul class="nav-horizontal text-center">
        <li class="active">
            <a href="javascript:void(0)"><i class="hi hi-user"></i> Ket noi 2 chieu 1</a>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="hi hi-user"></i> Ket noi 2 chieu 2</a>
        </li>
        <li class="active">
            <a href="javascript:void(0)"><i class="hi hi-user"></i> Ket noi 2 chieu 3</a>
        </li>
        <li class="active">
            <a href="javascript:void(0)"><i class="hi hi-user"></i> Ket noi 2 chieu 4</a>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="hi hi-user"></i> Ket noi 2 chieu 5</a>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="hi hi-user"></i> Ket noi 2 chieu 6</a>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="hi hi-user"></i> Ket noi 2 chieu 7</a>
        </li>
        <li class="active">
            <a href="javascript:void(0)"><i class="hi hi-user"></i> Ket noi 2 chieu 8</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-6">
        <!-- Row Styles Block -->
        <div class="block">
            <!-- Row Styles Title -->
            <div class="block-title">
                <h2><strong>Kết nối </strong> 1 chiều</h2>
            </div>
            <!-- END Row Styles Title -->
            <!-- Row Styles Content -->
            <div class="table-responsive">
                <table class="table table-vcenter">
                    <thead>
                        <tr>
                            <th style="width: 150px;" class="text-center"><i class="gi gi-user"></i></th>
                            <th>Client</th>
                            <th style="width: 150px;" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active">
                            <td class="text-center"><img src="~/Content/img/placeholders/avatars/avatar3.jpg" alt="avatar" class="img-circle"></td>
                            <td><a href="page_ready_user_profile.html">Ket noi 1</a></td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-hand-paper-o"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-compress"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="text-center"><img src="~/Content/img/placeholders/avatars/avatar3.jpg" alt="avatar" class="img-circle"></td>
                            <td><a href="page_ready_user_profile.html">Ket noi 1</a></td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-hand-paper-o"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-compress"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="text-center"><img src="~/Content/img/placeholders/avatars/avatar3.jpg" alt="avatar" class="img-circle"></td>
                            <td><a href="page_ready_user_profile.html">Ket noi 1</a></td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-hand-paper-o"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-compress"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="text-center"><img src="~/Content/img/placeholders/avatars/avatar3.jpg" alt="avatar" class="img-circle"></td>
                            <td><a href="page_ready_user_profile.html">Ket noi 1</a></td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-hand-paper-o"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-compress"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="text-center"><img src="~/Content/img/placeholders/avatars/avatar3.jpg" alt="avatar" class="img-circle"></td>
                            <td><a href="page_ready_user_profile.html">Ket noi 1</a></td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-hand-paper-o"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-compress"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="text-center"><img src="~/Content/img/placeholders/avatars/avatar3.jpg" alt="avatar" class="img-circle"></td>
                            <td><a href="page_ready_user_profile.html">Ket noi 1</a></td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-hand-paper-o"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-compress"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="text-center"><img src="~/Content/img/placeholders/avatars/avatar3.jpg" alt="avatar" class="img-circle"></td>
                            <td><a href="page_ready_user_profile.html">Ket noi 1</a></td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-hand-paper-o"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-compress"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="text-center"><img src="~/Content/img/placeholders/avatars/avatar3.jpg" alt="avatar" class="img-circle"></td>
                            <td><a href="page_ready_user_profile.html">Ket noi 1</a></td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-hand-paper-o"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-compress"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="text-center"><img src="~/Content/img/placeholders/avatars/avatar3.jpg" alt="avatar" class="img-circle"></td>
                            <td><a href="page_ready_user_profile.html">Ket noi 1</a></td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-hand-paper-o"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-compress"></i></a>
                                </div>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
            <!-- END Row Styles Content -->
        </div>
        <!-- END Row Styles Block -->
        
    </div>
    <div class="col-md-6">
        <!-- Row Styles Block -->
        <div class="block">
            <!-- Row Styles Title -->
            <div class="block-title">
                <h2><strong>Kết nối </strong> 2 chiều</h2>
            </div>
            <!-- END Row Styles Title -->
            <!-- Row Styles Content -->
            <div class="table-responsive">
                <table class="table table-vcenter">
                    <thead>
                        <tr>
                            <th style="width: 150px;" class="text-center"><i class="gi gi-user"></i></th>
                            <th>Client</th>
                            <th style="width: 150px;" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active">
                            <td class="text-center"><img src="~/Content/img/placeholders/avatars/avatar3.jpg" alt="avatar" class="img-circle"></td>
                            <td><a href="page_ready_user_profile.html">Ket noi 1</a></td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="gi gi-facetime_video"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-microphone"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-compress"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="text-center"><img src="~/Content/img/placeholders/avatars/avatar3.jpg" alt="avatar" class="img-circle"></td>
                            <td><a href="page_ready_user_profile.html">Ket noi 1</a></td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="gi gi-facetime_video"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-microphone"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-compress"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="text-center"><img src="~/Content/img/placeholders/avatars/avatar3.jpg" alt="avatar" class="img-circle"></td>
                            <td><a href="page_ready_user_profile.html">Ket noi 1</a></td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="gi gi-facetime_video"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-microphone"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-compress"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="text-center"><img src="~/Content/img/placeholders/avatars/avatar3.jpg" alt="avatar" class="img-circle"></td>
                            <td><a href="page_ready_user_profile.html">Ket noi 1</a></td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="gi gi-facetime_video"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-microphone"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-compress"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="text-center"><img src="~/Content/img/placeholders/avatars/avatar3.jpg" alt="avatar" class="img-circle"></td>
                            <td><a href="page_ready_user_profile.html">Ket noi 1</a></td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="gi gi-facetime_video"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-microphone"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-compress"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- END Row Styles Content -->
        </div>
        <!-- END Row Styles Block -->
    </div>
</div>