
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageInit = 4;//profile
}

<!-- User Profile Header -->
<!-- For an image header add the class 'content-header-media' and an image as in the following example -->
<div class="content-header content-header-media">
    <div class="header-section">
        <img src="~/Content/img/placeholders/avatars/avatar2.jpg" alt="Avatar" class="pull-right img-circle">
        <h1>Le Hong Nhan <br><small>Life Explorer &amp; Traveller</small></h1>
    </div>
    <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
    <img src="~/Content/img/placeholders/headers/profile_header.jpg" alt="header image" class="animation-pulseSlow">
</div>
<!-- END User Profile Header -->
<!-- User Profile Content -->
<div class="row">
    <h3>Feature not avairable!</h3>
</div>